@import '../../style/images';

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
        display: flex;
        padding: 20px 40px;
    }
}
